/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Homepage
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Pages
/*
/*****************************************************************************/


