/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
    font: 20pt Georgia, serif;
    background: #FFF;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "League Gothic";
    font-weight: normal;
    font-size: 100%;
    color: #339966;
}

a         { color: #339966; }
a:hover   { color: #8CD6B1; }
a:visited { color: #999966; }

h1 {
    font-size: 48pt;
    line-height: 48pt;
    margin: 48pt 0 18pt;
}

h2 {
    font-size: 36pt;
    line-height: 36pt;
    margin: 0 0 16pt;
}

h3 {
    font-size: 30pt;
    line-height: 30pt;
    margin: 30pt 0 14pt;
}

p {
    text-indent: 2em;
    line-height: 150%;
}

blockquote {
    line-height: 150%;
    font-style: italic;
    margin: 24pt 0;
}

ul, ol {
    margin: 0;
    padding: 1em 0 1em 3.5em;
}

strong, b {
    color: #FA2A00;
    font-weight: normal;
    font-style: italic;
}


/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

.header, .page, .footer {
    max-width: 64pc;
    margin: 0 auto;
    padding: 0 2%;
    clear: both;
}
.lefty {
    float: left;
}
.header {
    background: #FFF;
}
.header h1 {
    margin: 0;
}
.header .title a {
    display: inline-block;
    font: 24pt normal "League Gothic";
    text-decoration: none;
    color: black;
    padding-top: 9pt;
}
.header .title a img {
    position: relative;
    top: 9pt;
}
.header .title a span {
}
.header .title a:hover {
    color: #FA2A00;
}
.content {
    border: 6pt solid #000;
    border-style: solid none;
    padding: 36pt 0;
    clear: both;
}
.footer .contact {
    padding: 6pt 0;
}
.footer {
    font-size: 14pt;
    line-height: 14pt;
}

.nav {
    text-align: right;
    padding: 12pt 0;
    font: 24pt normal "League Gothic", sans-serif;
}
.nav.left {
    text-align: left;
}
.nav a {
    padding: 6pt 12pt;
    display: inline-block;
    color: #000;
    border: 3pt solid #FFF;
    text-decoration: none;
}
.nav a.current {
    background: #EEE;
}
.nav a:hover {
    color: #FA2A00;
    border-color: #FA2A00;
}


/*****************************************************************************/
/*
/* Homepage
/*
/*****************************************************************************/

.homepage {
    text-align: center;
    margin: 24pt auto;
}
.homepage .teaser {
    line-height: 150%;
}


/*****************************************************************************/
/*
/* Pages
/*
/*****************************************************************************/

.page {
    margin: 24pt auto;
}
.next-steps li {
    display: inline-block;
    list-style: none;
}
