<ul class="nav">
{% if site.lang == "en" %}
    <li><a {% if page.url == '/index.html' %}class="current"{% endif %}
           href="/">Home</a></li>
    <li><a {% if page.url contains '/about/' %}class="current"{% endif %}
           href="/about/">About</a></li>
    <li><a {% if page.url contains '/directory/' %}class="current"{% endif %}
           href="/directory/">Directory</a></li>
    <li><a {% if page.url contains '/summit/' %}class="current"{% endif %}
           href="/summit/">Summit</a></li>
    <li><a {% if page.url contains '/blog/' or page.url contains '/20' %}class="current"{% endif %}
           href="/blog/">Blog</a></li>
    <li><a {% if page.url contains '/join/' %}class="current"{% endif %}
           href="/join/">Join</a></li>
{% else %}
    <li><a {% if page.url == '/index.html' %}class="current"{% endif %}
           href={{ site.lang|prepend:'"/'|append:'/"'}}>{% translate pages.home %}</a></li>
    <li><a {% if page.url contains '/about/' %}class="current"{% endif %}
           href={{ site.lang|prepend:'"/'|append:'/about/"'}}>{% translate pages.about %}</a></li>
    <li><a {% if page.url contains '/directory/' %}class="current"{% endif %}
           href={{ site.lang|prepend:'"/'|append:'/directory/"'}}>{% translate pages.directory %}</a></li>
    <li><a {% if page.url contains '/summit/' %}class="current"{% endif %}
           href={{ site.lang|prepend:'"/'|append:'/summit/"'}}>{% translate pages.summit %}</a></li>
    <li><a {% if page.url contains '/blog/' or page.url contains '/20' %}class="current"{% endif %}
           href={{ site.lang|prepend:'"/'|append:'/blog/"'}}>{% translate pages.blog %}</a></li>
    <li><a {% if page.url contains '/join/' %}class="current"{% endif %}
           href={{ site.lang|prepend:'"/'|append:'/join/"'}}>{% translate pages.join %}</a></li>
{% endif %}
</ul>
