---
layout: default
---
<div class="site">
    <div class="header">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <div class="nav">
            <p>
                <a href="/">Home</a>
                <a href="/vision/">Vision</a>
            </p>
        </div>
    </div>

    <h2>{{ page.title }}</h2>

    <div class="post">
        {{ content }}
    </div>

    <div class="footer">
        <div class="contact">
            <p>&copy; 2013 The Open Company Initiative</p>
        </div>
        <div class="nav">
            <p>
                <a href="/">Home</a>
                <a href="/vision/">Vision</a>
            </p>
        </div>
    </div>
</div>
