---
layout: default
---
<div class="site">
    <div class="header">
        <h1 class="title lefty"><a href="/"><img src="/img/oci.svg" height="96" /></a></h1>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/vision/">Vision</a>
            <a href="/directory/">Directory</a>
            <a href="/join/">How to Join</a>
            <a href="/about/">About</a>
        </div>
    </div>

    <div class="page">

        <h2>{{ page.title }}</h2>

        {{ content }}

    </div>

    <div class="footer">
        <div class="contact lefty">
        </div>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/vision/">Vision</a>
            <a href="/directory/">Directory</a>
            <a href="/join/">How to Join</a>
            <a href="/about/">About</a>
        </div>
    </div>
</div>
